.topbar
	background #1194f6
	color white
	font-size:20px


.fa-times
	margin 20px

.headspan
	margin 20px
.resumebody
	background #212121	

.popup
	margin 42.5px 8px
	background white

.circicon
	background #d8d8d8
	size:40px
	margin 16px
.text1
	margin 16px 0px 0px 0px
	color #000000

.text2
	margin 0px 16px 0px 0px		
	color #757575

.imageview
	background #d8d8d8
	height 193.5px
	margin 8px 0px	

.text3
	margin 16px
	font-size 24px

.status
	color #757575

.stat
	margin 4px

.perc
	margin 0px 10px
	color #757575

.resumebutton
	background #ff5607
	height 48px

.resumetext
	color:white		
	padding 16px	
	font-size 15px		