<template name="popupScreen">
<div class="row">
	<div class="col s3">
		<img src="abc.jpg" class="circle responsive-img circicon">
	</div>
	<div class="col s9">	
			<div class="col s12 text1"> Introduction to Programming</div>
			<div class="col s12 text2">Values and types</div>
	</div>
</div>
<div class="imageview">
</div>
<div class="row text3">
Naming Convention
</div>
<div class="row status">
<div class="col s4">
	<i class="material-icons">video_library</i>
	<span class="stat">2/28</span>

</div>
<div class="col s4">
	<i class="material-icons">speaker_notes</i>
	<span class="stat">4/36</span>

</div>
<div class="col s4">
	<i class="material-icons">question_answer</i>
	<span class="stat">6/18</span>

</div>
</div>
<div>
	<p class="right-align perc">0% complete </p>
</div>

<div class="resumebutton">
	<h6 class="center-align resumetext">RESUME LEARNING</h6>
</div>



</template>